# Dossiers à synchroniser
root = /home/{{ SSH_USER }}/
root = ssh://{{ SSH_USER }}@{{ VM_NAME }}//home/{{ SSH_USER }}

# Permissions POSIX
perms = 0
dontchmod = true

# Sécurité / exclusions
ignore = Name .git
ignore = Name .vagrant
ignore = Name node_modules
ignore = Name __pycache__
ignore = Name .DS_Store

# Comportement
auto = true
batch = true
confirmbigdel = true
prefer = newer
times = true

# Logs
log = true
logfile = /home/{{ SSH_USER }}/.unison/home.log